@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h2>
        TASK: Pictures gallery via Azure Storage
    </h2>

</div>

@using (Html.BeginForm("UploadAsync", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="fileUpload btn btn-default">
        <input type="file" id="file" name="file" class="upload" onchange="DisplayFilesToUpload()" multiple />
    </div>
    <p id="FilesToUpload"></p>
}

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
    <div class="imageBlock">
        <button type="button" class="btn btn-default btn-sm" onclick="deleteImage('@item');">
            <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
        <a href="@item" target="_blank">
            <img src="@item" alt="image" class="img-thumbnail">
        </a><br />
        @*<div class="deleteDiv">

            <img class="deleteIcon" src="~/Images/deleteImage.png" style="width:25px;hight:25px" title="Delete Image"  />
        </div>*@
    </div>
    }

    using (Html.BeginForm("DeleteAll", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="fileUpload btn btn-default"><span>Delete All Files</span><input type="submit" name="deleteAll" class="upload" /></div>
    }
}
<script>
    function deleteImage(item) {
        var url = "/Home/DeleteImage";
        if (confirm("Are you sure?")) {
            $.post(url, { Name: item }, function (data) {
                window.location.href = "/Home/Index";
            });
        }
      
    }

    function DisplayFilesToUpload() {
        var element = document.getElementById("file");
        var html = "";

        html = "<h3>Image(s) to Upload</h3>"
        for (var i = 0; i < element.files.length; i++) {
            html += "<strong>" + (i + 1) + "</strong>. File: ";
            var file = element.files[i];
            var path = ReadImage(element.files[i]);
            if ('name' in file) { html += file.name + " (";}
            if ('size' in file) {html += "size: " + file.size + " bytes)<br>";}
        }

        html += "<div class='fileUpload btn btn-default'><input type='submit' value='Upload' class='upload'/></div>"
        document.getElementById("FilesToUpload").innerHTML = html;
    }

    var ReadImage = function (file) {

        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {

            image.src = _file.target.result;
            return image.src;

        }

    }

</script>
